<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="ListenerIP" value=""/> <!-- Loopback by default. -->
    <add key="ListenerPort" value=""/> <!-- 80 by default. If specified, overrides whatever was specified in ListenerIP. -->
    <add key="ConnectionQueueLimit" value=""/> <!-- 10 by default. -->
    <add key="ConnectionLimit" value=""/> <!-- 10 by default. -->
    <add key="TransmissionTimeout" value=""/> <!-- 1000 by default. In milliseconds. -->

    <add key="HTTPRootDirectory" value="ExampleWebPage"/> <!-- Application "working directory" by defualt. Can be relative or absolute path. -->
    <add key="HTTPDefaultPage" value=""/> <!-- index.html by default. -->
  </appSettings>
</configuration>